<main class="flex-grow-1 p-3 m-auto my-2">
  <h1>Apple Store Mendoza</h1>
  <h3>{{date}}</h3>
  {{#if details}}
    <p>{{details}}</p>
  {{else}}
    <p>Bienvenido a Apple Store Mendoza, tu destino premium para productos Apple
      en la región. Sumérgete en la innovación con nuestra amplia gama de
      dispositivos, desde los revolucionarios iPhone hasta las potentes MacBook.
      Descubre la magia de la tecnología con los últimos modelos de iPad y
      experimenta un sonido envolvente con los AirPods Pro. Además, ofrecemos
      accesorios exclusivos que complementan tu estilo de vida conectado.
      Nuestro equipo de expertos está listo para brindarte asesoramiento
      personalizado y demostraciones emocionantes. En Apple Store Mendoza, no
      solo vendemos productos, creamos experiencias tecnológicas únicas. ¡Ven y
      descubre el futuro hoy!</p>
  {{/if}}
  {{#each products}}
    <h3>{{this}}</h3>
  {{/each}}
</main>