<main class="flex-grow-1 d-flex w-100 flex-wrap justify-content-evenly">
  <section
    class="w-50 mb-4 d-flex flex-column justify-content-start align-items-center"
    style="min-width: 380px;"
  >
    <h2 class="mt-5 mb-2 text-center">Registrate como usuario</h2>
    <form
      style="max-width: 360px;"
      class="w-100 d-flex flex-column justify-content-center items-align-center"
    >
      <fieldset class="mb-3 text-center">
        <label for="nombreusuario" class="form-label mb-0">Nombre</label>
        <input type="text" class="form-control" id="nombreusuario" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="apellidousuario" class="form-label mb-0">Apellido</label>
        <input type="text" class="form-control" id="apellidousuario" />
      </fieldset>
      <fieldset class="mb-3 text-center">
        <label for="price" class="form-label mb-0">Contraseña</label>
        <input type="pasword" class="form-control" id="contraseña" />
      </fieldset>
      <button
        id="newUser"
        type="button"
        class="w-100 btn btn-danger"
      >Registrate</button>
    </form>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>